body.hover {
	color: #1a6deb !important;
	font-family: 'Lato', Helvetica, Arial, sans-serif !important ;
}

.ui-widget {
    font-family: 'Lato', Helvetica, Arial, sans-serif !important
}

.ui-widget-content {
    color: #55636c !important;

}
.col {
	width: 100%;
}

.form-group {
	margin-bottom: 15px;
}

.login-title {
	font-weight: 400;
	font-size: 14px;
	float: left;
	width: 90px !important;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.input-group input {
		width: 100% !important;
}

.ui-widget-header {
 border: 0px !important; 
 background: none !important;
 color: #1a6deb !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border: 1px solid #1a6deb !important;
	font-weight: normal !important;
	color: #fff !important;
	background: #1a6deb !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 1px solid #1a6deb !important;
	background: #1a6deb !important;
	font-weight: normal !important;
	color: #fff !important;
    opacity: 1 !important;
}

.ui-widget-header .ui-icon {
	background-image: #ffffff url(../img/CloseButton.png) 50% 50% !important;
	background-repeat: no-repeat !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
		opacity: 0.3 !important;
		background-image:  #ffffff url(../img/CloseButton.png) 50% 50% no-repeat !important;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	padding: 0px !important;
	background: none;
	overflow: auto;
	zoom: 1;
	text-align: center;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: 0px !important;
}

.noclose .ui-dialog-titlebar-close
{
	display:none;
}

div .ui-dialog-buttonset {
	width: 100%
}

#help { 
	background:none !important; 
	font-size: 12px;
	border-radius: 100%;
	float: left !important;
	margin-top: 15px;
	margin-left: 15px;
}

#historicDataOptions { 
	float: left;
	cursor: default;
}

#edit {
	float: right !important;
}

#create {
	float: right !important;
}

.table th{
	text-align: center !important;
}

#container
{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	width:100%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#timestamp{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	top: 0px;
	text-align: right;
	position: fixed;
	width: 97%;
	color: #8E8E8E;
}

#settings{
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	bottom: 30px;
	text-align: center;
	position: fixed;
	width: 95%;
}

#setup{
	float: right;

}

.modal {
	background: rgba(255, 255, 255, 0.85) !important;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	width: 300px;
	/* height: 200px; */
	line-height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	text-align: center;
	cursor: default;
	pointer-events: none;
}

#iconhelp{
		cursor: pointer;
		float: right;
		
		margin-top: 4px;
}


.ui-widget-overlay {
    background-image: none !important;
    background: #fff !important;
    opacity: 1 !important;
}

.ui-dialog {
    top: 50% !important;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0.6em 1.2em !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea {
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    font-family: 'Lato', Helvetica, Arial, sans-serif !important;
    font-size: 1em;
    padding: 0.5em 0;
}


.ui-widget-content {
    border: 0 !important;
    background: #f3f3f3 !important;
    color: #333333;
}

