body{
}

#container
{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  width:auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#timestamp{
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  width:auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 80%;
  -webkit-transform: translateY(80%);
  -ms-transform: translateY(80%);
  transform: translateY(80%);  text-align:right;
}