.widget {
	text-align: -webkit-center;
}
.round-button {
	width:100px;
	margin: 0px auto;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
	border-radius: 50%;
	border:10px solid #cfdcec;
	overflow:hidden;
	
	background: #2D2D2D; 
	box-shadow: 0 0 3px gray;
}
/*.round-button-circle:hover {
	background:#1a6deb;
}*/

.round-button a:active {
	background:#1a6deb;
	}
.round-button a {
	display:block;
	float:left;
	width:100%;
	padding-top:50%;
	padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
	
	text-align:center;
	color:#e2eaf3;
	font-family:Verdana;
	font-size:1.2em;
	font-weight:bold;
	text-decoration:none;
}